/* Mod2Answer css file */

* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.row {
    margin: 10px;
    /* background-color: green;
    border: 1px black solid; */
}

h1 {
    margin-bottom: 20px;
    font-size: 1.75em;
    color: black;
    text-align: center;
}

h2 {
    border: 1px solid black;
    font-size: 1.25em;
    color: black;
    font-weight: bold;
    width: 100px;
    float: right;
    text-align: center;
    margin-right: 8px;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    border: 1px solid black;
    color: black;
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-right: 8px;
    padding-top: 27px;
    padding-bottom: 5px;
    padding-right: 2px;
    padding-left: 2px;
    background-color: hotpink;
}

        /* Large Devices */
        @media (min-width: 992px) {
            .col-1, .col-2, .col-3 {
                float: left;
            }
            .col-1 {
                width: 33.33%;
            }
            .col-2 {
                width: 33.33%;
            }
            .col-3 {
                width: 33.33%;
            }
        }

        /* Medium Devices */
        @media (min-width: 768px) and (max-width: 991px) {
            .col-1, .col-2, .col-3 {
                float: left;
            }
            .col-1 {
                width: 50%;
            }
            .col-2 {
                width: 50%;
            }
            .col-3 {
                width: 100%;
            }
        }

        #color1 {
            background-color: violet;
        }

        #color2 {
            background-color: seagreen;
        }

        #color3 {
            background-color: lawngreen;
        }